
## Create new name from URI
#macro( newName $node )
  #set( $splited = $node.getURI().split("[/#]") )
  #set( $lastIndex = $splited.size() - 1 )
  $splited.get( $lastIndex ).replace( "_", " " )
#end


## Show a resource-value
#macro( propertyObjectResource $node )
  #if( $node.isSimpleResource())
    #setResourceHref( $node.getURI() )
    #set( $id = $node.rdfNode().uniqueID() )
    <a href="$href" data-id="$id"  class="rdf object resource simple">$node.getName()</a>
    #actionsMenu( $node )
  #else
  #set( $id = $node.uniqueID() )
    <div class="rdf object nested" data-id="$id">
      #showRdfResource( $node, "div", "nested" )
    </div>
  #end
#end


## Display the name of the resource
## #macro( itemName $resource $h $css $node )
##   #if( $resource.getName() )
##     <div class="$css">
##       #if( $resource.isAnon() )
##         #set( $anonName = $resource.uniqueID() )
##         #if( $anonName.equals( "[]" ))
##           #set( $anonName = "" )
##         #end
##         <$h class="resource-label anonymous">
##           $anonName
##         </$h>
##       #else
##         <$h class="resource-label">
##           $resource.uniqueID()
##           #if( $node )
##             #actionsMenu( $node )
##           #end
##         </$h>
##       #end
##     </div>
##   #end
## #end
